body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.loginbox{
    width: 320px;
    height: 600px;
    background: white;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 40px 30px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    font-size: 32px;
    text-align: center;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: lightgreen;
    color: #000;
    font-size: 18px;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: transparent;
    color: lightgreen;
    border: 1px solid lightgreen;
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;
    color: darkgrey;
}

.loginbox a:hover{
    color: lightgreen;
}

/* HOME PAGE */
/* Navigation */





/* Home body */
.today{
    font-size: 55px;
    font-weight: bolder;
    text-transform: capitalize;
    line-height: 63px;
}

button{
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 50px;
    background: #263238;
    color: white;
    font-size: 20px;
    transition: 0.2s ease-in-out;
}

button:hover{
    background: lightgreen;
}

.taker{
    border: 2px dotted lightgreen;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.try{
    display: none;
}

.tester:hover .try{
    display: block;
    
}
